In [2]:
import pandas as pd

splits = {'train': 'train.jsonl', 'validation': 'valid.jsonl', 'test': 'test.jsonl'}
df1 = pd.read_json("hf://datasets/deccan-ai/insuranceQA-v2/" + splits["train"], lines=True)

d:\MLops\MLops\mlenv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df1.head()

,input,output
0,What Does Medicare IME Stand For?,According to the Centers for Medicare and Medi...
1,Is Long Term Care Insurance Tax Free?,"As a rule , if you buy a tax qualified long te..."
2,Can Husband Drop Wife From Health Insurance?,Can a spouse drop another spouse from health i...
3,Is Medicare Run By The Government?,Medicare Part A and Part B is provided by the ...
4,Is Medicare Run By The Government?,Definitely . It is ran by the Center for Medic...

In [7]:
df1.to_csv('health_insurance_qna1.csv',index=False)

In [8]:
df1.shape

(21325, 2)

In [1]:
import pandas as pd

df2 = pd.read_json("hf://datasets/4DR1455/finance_questions/finance_questions_dataset.json")

d:\MLops\MLops\mlenv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df2.head()

,instruction,input,output
0,How do dividend policies impact a company's fi...,,Dividend policies of a company can significant...
1,What are the potential challenges in forecasti...,,Forecasting interest expenses for financial st...
2,Why is the cost of equity included in the WACC...,,The Weighted Average Cost of Capital (WACC) is...
3,Explain the concept of operational risk and it...,,Operational risk is the risk of loss resulting...
4,What is the cost of equity for a privately hel...,,The cost of equity for a privately held compan...

In [4]:
df2.shape

(53937, 3)

In [5]:
df2= df2.iloc[:25000]

In [6]:
df2.head()

,instruction,input,output
0,How do dividend policies impact a company's fi...,,Dividend policies of a company can significant...
1,What are the potential challenges in forecasti...,,Forecasting interest expenses for financial st...
2,Why is the cost of equity included in the WACC...,,The Weighted Average Cost of Capital (WACC) is...
3,Explain the concept of operational risk and it...,,Operational risk is the risk of loss resulting...
4,What is the cost of equity for a privately hel...,,The cost of equity for a privately held compan...

In [8]:
df2.drop('input',axis=1,inplace=True)

In [9]:
df2.head()

,instruction,output
0,How do dividend policies impact a company's fi...,Dividend policies of a company can significant...
1,What are the potential challenges in forecasti...,Forecasting interest expenses for financial st...
2,Why is the cost of equity included in the WACC...,The Weighted Average Cost of Capital (WACC) is...
3,Explain the concept of operational risk and it...,Operational risk is the risk of loss resulting...
4,What is the cost of equity for a privately hel...,The cost of equity for a privately held compan...

In [10]:
df2.to_csv('finance_data.csv',index=False)

In [19]:
import pandas as pd

df3 = pd.read_csv("hf://datasets/bitext/Bitext-retail-ecommerce-llm-chatbot-training-dataset/bitext-retail-ecommerce-llm-chatbot-training-dataset.csv")

In [20]:
df3.head()

,instruction,intent,category,tags,response
0,I got to add an item to the cart,add_product,CART,BL,I'll get right on it! I'm here to assist you i...
1,wanna add fucking products to the basket can h...,add_product,CART,BCIMQWZ,I sincerely apologize if you've encountered an...
2,i have to add products to the basket i ned help,add_product,CART,BCMQZ,You bet! I'm here to assist you in adding prod...
3,di like to add products to the cart could i ge...,add_product,CART,BCILMPQZ,Indeed! I'm here to assist you in adding produ...
4,"I need to add an item to the cart , where do I...",add_product,CART,BCILZ,I'll take care of it! I'm here to help you wit...

In [23]:
df3['category'].value_counts()

category
RETURNS        6925
PRODUCT        6679
DELIVERY       6595
ACCOUNT        4950
ORDER          3945
PAYMENT        2981
FEEDBACK       2980
APP_WEBSITE    1993
CONTACT        1986
CART           1950
STORE          1916
SALES           995
USER            989
Name: count, dtype: int64

In [24]:
# Total rows desired
total_rows = 25000

# Calculate the proportion of each category
category_counts = df3['category'].value_counts()
proportions = category_counts / category_counts.sum()

# Determine the number of rows to sample for each category
sample_sizes = (proportions * total_rows).astype(int)

# Sample rows for each category
sampled_data = pd.concat([
    df3[df3['category'] == category].sample(n=size, random_state=42)
    for category, size in sample_sizes.items()
])

# Verify the new dataset size
print(sampled_data['category'].value_counts())
print(len(sampled_data))

category
RETURNS        3857
PRODUCT        3720
DELIVERY       3673
ACCOUNT        2757
ORDER          2197
PAYMENT        1660
FEEDBACK       1659
APP_WEBSITE    1110
CONTACT        1106
CART           1086
STORE          1067
SALES           554
USER            550
Name: count, dtype: int64
24996

In [27]:
sampled_data.reset_index(drop=True,inplace=True)

In [29]:
sampled_data.head()

,instruction,intent,category,tags,response
0,I want help to see your fucking money back pol...,refund_policy,RETURNS,BLWZ,I genuinely apologize for any inconvenience ca...
1,could i return a fucking item if i bought it t...,return_policy,RETURNS,BILPQW,I sincerely apologize for any frustration or i...
2,"I need to hceck your fucking return process, h...",return_policy,RETURNS,BCILWZ,I genuinely apologize for any frustration caus...
3,how could i get information about the status o...,refund_status,RETURNS,BILPQ,No worries! I'm here to assist you with tracki...
4,I'm trying to find information about the statu...,refund_status,RETURNS,BELQZ,"We regret the inconvenience, and we're sorry f..."

In [31]:
sampled_data.drop(columns=['intent','category','tags'],inplace=True)

In [32]:
sampled_data.head()

,instruction,response
0,I want help to see your fucking money back pol...,I genuinely apologize for any inconvenience ca...
1,could i return a fucking item if i bought it t...,I sincerely apologize for any frustration or i...
2,"I need to hceck your fucking return process, h...",I genuinely apologize for any frustration caus...
3,how could i get information about the status o...,No worries! I'm here to assist you with tracki...
4,I'm trying to find information about the statu...,"We regret the inconvenience, and we're sorry f..."

In [33]:
sampled_data.to_csv('retail.csv',index=True)

In [16]:
import pandas as pd

gk = pd.read_json("hf://datasets/MuskumPillerum/General-Knowledge/output.json")

d:\MLops\MLops\mlenv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [17]:
gk.head()

,Question,Answer
0,What is Artificial Intelligence?,Artificial Intelligence refers to the developm...
1,What are the two main categories of Artificial...,The two main categories of Artificial Intellig...
2,What is Machine Learning?,Machine Learning is a subset of Artificial Int...
3,What is Deep Learning?,Deep Learning is a subset of Machine Learning ...
4,What is Natural Language Processing?,Natural Language Processing is a subset of Art...

In [18]:
gk=gk.iloc[:3000]

In [19]:
import pandas as pd

splits = {'train': 'train.csv', 'validation': 'val.csv', 'test': 'test.csv'}
sc = pd.read_csv("hf://datasets/armanc/ScienceQA/" + splits["train"])

In [20]:
sc.head()

,Unnamed: 0,Context,Answer,Question
0,0,"In recent times, social media has become a pop...",many election campaigns,social media has become a popular medium for w...
1,1,A novel sparsity optimization method is propos...,data fitting inequality constraints,what type of method is proposed to select clas...
2,2,A fundamental problem for artificial intellige...,the similarity,"what part of motif occurrences , nonlinear tem..."
3,3,While multitask learning has been extensively ...,the original input space,what does each atom of the dictionary include ?
4,4,We initiate the study of control actions in fa...,one some or all agents,what has a problem of control ?

In [21]:
sc.shape

(75429, 4)

In [22]:
sc=sc.iloc[:3000]

In [23]:
sc.drop(columns=['Unnamed: 0','Context'],axis=1,inplace=True)

In [24]:
sc.head()

,Answer,Question
0,many election campaigns,social media has become a popular medium for w...
1,data fitting inequality constraints,what type of method is proposed to select clas...
2,the similarity,"what part of motif occurrences , nonlinear tem..."
3,the original input space,what does each atom of the dictionary include ?
4,one some or all agents,what has a problem of control ?

In [25]:
import pandas as pd
nq=pd.read_csv('Natural-Questions-Filtered.csv')

In [26]:
nq.head()

,question,long_answers,short_answers
0,which is the most common use of opt-in e-mail ...,A common example of permission marketing is a ...,A newsletter sent to an advertising firm's cus...
1,how i.met your mother who is the mother,"Tracy McConnell, better known as `` The Mother...",Tracy McConnell
2,who had the most wins in the nfl,Active quarterback Tom Brady holds the records...,Tom Brady
3,who played mantis guardians of the galaxy 2,Pom Klementieff (born May 1986) is a French ac...,Pom Klementieff
4,the nashville sound brought a polished and cos...,"In the early 1960s, the Nashville sound began ...",The use of lush string arrangements with a rea...

In [27]:
nq.shape

(86212, 3)

In [28]:
nq=nq.iloc[:15000]

In [29]:
nq.head()

,question,long_answers,short_answers
0,which is the most common use of opt-in e-mail ...,A common example of permission marketing is a ...,A newsletter sent to an advertising firm's cus...
1,how i.met your mother who is the mother,"Tracy McConnell, better known as `` The Mother...",Tracy McConnell
2,who had the most wins in the nfl,Active quarterback Tom Brady holds the records...,Tom Brady
3,who played mantis guardians of the galaxy 2,Pom Klementieff (born May 1986) is a French ac...,Pom Klementieff
4,the nashville sound brought a polished and cos...,"In the early 1960s, the Nashville sound began ...",The use of lush string arrangements with a rea...

In [30]:
nq=nq.drop(columns=['long_answers','short_answers'])

In [31]:
nq.head()

                                            question
0  which is the most common use of opt-in e-mail ...
1            how i.met your mother who is the mother
2                   who had the most wins in the nfl
3        who played mantis guardians of the galaxy 2
4  the nashville sound brought a polished and cos...

In [32]:
new_questions = [
    "Tell me a joke.",
    "What is the meaning of life?",
    "Can you sing a song for me?",
    "What’s your favorite color?",
    "How do you make pancakes?",
    "Who is the richest person in the world?",
    "Do you believe in aliens?",
    "What is the capital of Mars?",
    "How old are you?",
    "What’s your favorite movie?",
    "Can you do a magic trick?",
    "What’s 2 + 2?",
    "How tall is the Eiffel Tower?",
    "Can you teach me to dance?",
    "What’s the best pizza topping?",
    "Who won the last World Cup?",
    "Do you like cats or dogs?",
    "What is the speed of light?",
    "What’s the weather like today?",
    "How many stars are in the sky?",
    "Can you recommend a good book?",
    "Who invented the Internet?",
    "What’s your favorite animal?",
    "Do you know any riddles?",
    "Why is the sky blue?",
    "Can you solve a Rubik’s cube?",
    "What’s the funniest meme you know?",
    "Who painted the Mona Lisa?",
    "How do I bake a chocolate cake?",
    "What’s your favorite holiday destination?",
    "Can you speak in pirate language?",
    "Is it raining in New York?",
    "What’s the temperature in Paris right now?",
    "Will it snow tomorrow in Tokyo?",
    "How windy is it in Chicago today?",
    "What’s the humidity level in Dubai?",
    "Is there a storm coming to Florida?",
    "What time does the sun rise in Sydney?",
    "What’s the UV index in Los Angeles?",
    "How hot will it be in Mumbai tomorrow?",
    "Is there a chance of hail in Berlin?",
    "Where is the nearest gas station?",
    "What is the capital of Australia?",
    "How far is the Eiffel Tower from here?",
    "Can you tell me the population of Tokyo?",
    "What’s the latitude of the North Pole?",
    "Where is Mount Everest located?",
    "How do I get to Central Park?",
    "Which country is closest to the equator?",
    "What continent is Brazil on?",
    "Can you show me a map of Italy?",
    "How far is the Moon from Earth?",
    "What’s the distance between New York and London?",
    "How many miles is it to the nearest hospital?",
    "What’s the longest road in the world?",
    "How far can I drive on a full tank of gas?",
    "How long does it take to fly from Los Angeles to Tokyo?",
    "What’s the walking distance to the grocery store?",
    "How many light-years away is Alpha Centauri?",
    "What’s the speed of sound in miles per hour?",
    "How far is the Great Wall of China from Beijing?",
    "What is the time zone in Hawaii?",
    "How many countries are in Africa?",
    "Can you translate “hello” into Spanish?",
    "What’s the highest waterfall in the world?",
    "Where was the hottest temperature on Earth recorded?",
    "How many kilometers is a marathon?",
    "What’s the deepest point in the ocean?",
    "Which city is known as the City of Lights?",
    "How many hours are there in a day on Mars?",
    "What is the tallest building in the world?",
    "Can you locate the nearest pizza shop?",
    "How many people live in Canada?",
    "What is the longest river in the world?",
    "Where is the Great Barrier Reef located?",
    "How do I get to the nearest bus stop?",
    "What’s the most expensive city in the world?",
    "Can you show me the location of the Amazon Rainforest?",
    "How far is the nearest airport?",
    "What’s the shortest flight route from New York to Boston?",
    "Where is the Statue of Liberty situated?"

]

new_data = pd.DataFrame({'question': new_questions})

In [33]:
new_data.head()

                       question
0               Tell me a joke.
1  What is the meaning of life?
2   Can you sing a song for me?
3   What’s your favorite color?
4     How do you make pancakes?

In [34]:
nq = pd.concat([nq, new_data], ignore_index=True)

In [35]:
nq.head()

                                            question
0  which is the most common use of opt-in e-mail ...
1            how i.met your mother who is the mother
2                   who had the most wins in the nfl
3        who played mantis guardians of the galaxy 2
4  the nashville sound brought a polished and cos...

In [36]:
nq.shape

(15081, 1)

In [39]:
sc.drop('Answer',axis=1,inplace=True)

In [40]:
nq.rename(columns={'question': 'Question'}, inplace=True)

In [41]:
gk.head()

,Question,Answer
0,What is Artificial Intelligence?,Artificial Intelligence refers to the developm...
1,What are the two main categories of Artificial...,The two main categories of Artificial Intellig...
2,What is Machine Learning?,Machine Learning is a subset of Artificial Int...
3,What is Deep Learning?,Deep Learning is a subset of Machine Learning ...
4,What is Natural Language Processing?,Natural Language Processing is a subset of Art...

In [43]:
gk.drop('Answer',axis=1,inplace=True)

In [45]:
gk.head()

                                            Question
0                   What is Artificial Intelligence?
1  What are the two main categories of Artificial...
2                          What is Machine Learning?
3                             What is Deep Learning?
4               What is Natural Language Processing?

In [46]:
sc.head()

                                            Question
0  social media has become a popular medium for w...
1  what type of method is proposed to select clas...
2  what part of motif occurrences , nonlinear tem...
3    what does each atom of the dictionary include ?
4                    what has a problem of control ?

In [47]:
nq.head()

                                            Question
0  which is the most common use of opt-in e-mail ...
1            how i.met your mother who is the mother
2                   who had the most wins in the nfl
3        who played mantis guardians of the galaxy 2
4  the nashville sound brought a polished and cos...

In [48]:
final_out_of_domain = pd.concat([nq,sc,gk], ignore_index=True)

In [49]:
final_out_of_domain.head()

                                            Question
0  which is the most common use of opt-in e-mail ...
1            how i.met your mother who is the mother
2                   who had the most wins in the nfl
3        who played mantis guardians of the galaxy 2
4  the nashville sound brought a polished and cos...

In [50]:
final_out_of_domain.shape

(21081, 1)

In [51]:
final_out_of_domain.to_csv('final_out_of_domain.csv',index=False)